@import "tailwindcss";

/* Ocultar scrollbar para o Mockup do GymUp ficar com visual de App Nativo */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}